openapi: 3.0.0
info:
  title: TouchGrass MVP API
  description: REST API for TouchGrass MVP - A photo challenge and chain creation platform with zero-knowledge proof verification on Mina Protocol
  version: 1.0.0
  contact:
    name: TouchGrass Support
    email: support@touchgrass.app

servers:
  - url: https://api.touchgrass.app/api
    description: Production server
  - url: http://localhost:3000/api
    description: Development server

tags:
  - name: Users
    description: User management
  - name: Challenges
    description: Photo challenges
  - name: Chains
    description: Photo chains
  - name: Submissions
    description: Photo submissions
  - name: Upload
    description: Image upload and proof generation
  - name: Status
    description: Proof status checking
  - name: Admin
    description: Admin operations

paths:
  # Users endpoints
  /users:
    post:
      tags: [Users]
      summary: Create or get user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [walletAddress]
              properties:
                walletAddress:
                  type: string
                  description: Mina wallet address
                  example: "B62qrPN5Y5yq8kGE3FbVKbGTdTAJNdtNtB5sNVpxyRwWGcDEhQMqbgy"
      responses:
        '200':
          description: Existing user returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '201':
          description: New user created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid wallet address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/{walletAddress}:
    get:
      tags: [Users]
      summary: Get user by wallet address
      parameters:
        - name: walletAddress
          in: path
          required: true
          schema:
            type: string
            example: "B62qrPN5Y5yq8kGE3FbVKbGTdTAJNdtNtB5sNVpxyRwWGcDEhQMqbgy"
      responses:
        '200':
          description: User found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags: [Users]
      summary: Delete user (admin only)
      security:
        - BasicAuth: []
      parameters:
        - name: walletAddress
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: User deleted
        '401':
          description: Unauthorized - authentication required
        '404':
          description: User not found

  # Challenges endpoints
  /challenges:
    get:
      tags: [Challenges]
      summary: Get all challenges
      responses:
        '200':
          description: List of all challenges
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Challenge'

    post:
      tags: [Challenges]
      summary: Create challenge (admin only)
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, description, startTime, endTime]
              properties:
                title:
                  type: string
                  example: "Sunset Photography Challenge"
                description:
                  type: string
                  example: "Capture the most beautiful sunset"
                startTime:
                  type: string
                  format: date-time
                  example: "2024-01-01T00:00:00Z"
                endTime:
                  type: string
                  format: date-time
                  example: "2024-01-07T23:59:59Z"
      responses:
        '201':
          description: Challenge created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
        '400':
          description: Invalid request (e.g., endTime before startTime)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - authentication required

  /challenges/active:
    get:
      tags: [Challenges]
      summary: Get all active challenges
      responses:
        '200':
          description: List of active challenges (may be empty)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Challenge'

  /challenges/{id}:
    get:
      tags: [Challenges]
      summary: Get challenge by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Challenge found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
        '404':
          description: Challenge not found

    delete:
      tags: [Challenges]
      summary: Delete challenge (admin only)
      security:
        - BasicAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Challenge deleted
        '401':
          description: Unauthorized - authentication required
        '404':
          description: Challenge not found

  # Chains endpoints
  /chains:
    get:
      tags: [Chains]
      summary: Get all chains or filter by challenge
      parameters:
        - name: challengeId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by challenge ID
      responses:
        '200':
          description: List of chains
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Chain'

  /chains/{id}:
    get:
      tags: [Chains]
      summary: Get chain by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Chain found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chain'
        '404':
          description: Chain not found

  # Submissions endpoints
  /submissions:
    post:
      tags: [Submissions]
      summary: Create a new submission
      description: Upload image with cryptographic signature to submit to a challenge chain
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image, chainId, walletAddress, signature]
              properties:
                image:
                  type: string
                  format: binary
                  description: Image file to submit
                chainId:
                  type: string
                  format: uuid
                  description: Chain ID to submit to
                walletAddress:
                  type: string
                  description: User's wallet address (public key in base58)
                signature:
                  type: string
                  description: Cryptographic signature of image hash in base58
                tagline:
                  type: string
                  maxLength: 200
                  description: Optional tagline for the submission
      responses:
        '201':
          description: Submission created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'
        '400':
          description: Invalid request (missing fields, invalid format, empty image, inactive challenge)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Chain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Duplicate submission (image already submitted or user already submitted to this challenge)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: File too large
        '415':
          description: Unsupported media type

    get:
      tags: [Submissions]
      summary: Get submissions with optional filters
      parameters:
        - name: walletAddress
          in: query
          schema:
            type: string
          description: Filter by user wallet address
        - name: chainId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by chain ID
        - name: challengeId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by challenge ID
        - name: status
          in: query
          schema:
            type: string
            enum: [uploading, uploaded, proving, publishing, verified, failed]
          description: Filter by submission status
      responses:
        '200':
          description: List of submissions (may be empty)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Submission'

  /submissions/{id}:
    get:
      tags: [Submissions]
      summary: Get submission by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Submission found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'
        '404':
          description: Submission not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags: [Submissions]
      summary: Delete submission
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Submission deleted
        '404':
          description: Submission not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Upload endpoints (existing)
  /upload:
    post:
      tags: [Upload]
      summary: Upload image for proof generation
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image, signature, publicKey]
              properties:
                image:
                  type: string
                  format: binary
                  description: Image file to upload
                signature:
                  type: string
                  description: Cryptographic signature in base58
                publicKey:
                  type: string
                  description: Signer's public key in base58
      responses:
        '200':
          description: Upload successful, proof generation queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokenOwnerAddress:
                    type: string
                    description: Random address for token ownership
                  sha256Hash:
                    type: string
                    description: SHA-256 hash of the uploaded image
                  status:
                    type: string
                    enum: [pending]
        '400':
          description: Invalid request
        '413':
          description: File too large
        '415':
          description: Unsupported media type

  # Status endpoints (existing)
  /status/{sha256Hash}:
    get:
      tags: [Status]
      summary: Check proof generation status
      parameters:
        - name: sha256Hash
          in: path
          required: true
          schema:
            type: string
            description: SHA-256 hash of the image
      responses:
        '200':
          description: Status information
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [pending, verified]
                  tokenOwnerAddress:
                    type: string
                    description: Token owner address
                  transactionId:
                    type: string
                    nullable: true
                    description: Mina blockchain transaction ID (when verified)
        '404':
          description: Hash not found

  /token-owner/{sha256Hash}:
    get:
      tags: [Status]
      summary: Get token owner for verified image
      parameters:
        - name: sha256Hash
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Token owner information
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokenOwnerAddress:
                    type: string
                    nullable: true
                  status:
                    type: string
                    enum: [pending, verified]
                    nullable: true
                  found:
                    type: boolean
        '404':
          description: Image not verified or not found

  # Admin endpoints (existing)
  /admin/jobs/stats:
    get:
      tags: [Admin]
      summary: Get job queue statistics
      security:
        - ApiKey: []
      responses:
        '200':
          description: Queue statistics
          content:
            application/json:
              schema:
                type: object

  /admin/jobs/failed:
    get:
      tags: [Admin]
      summary: Get failed jobs
      security:
        - ApiKey: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of failed jobs
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobs:
                    type: array
                    items:
                      type: object
                  limit:
                    type: integer
                  offset:
                    type: integer

  /admin/jobs/{jobId}:
    get:
      tags: [Admin]
      summary: Get job details
      security:
        - ApiKey: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Job details
        '404':
          description: Job not found

  /admin/jobs/{jobId}/retry:
    post:
      tags: [Admin]
      summary: Retry failed job
      security:
        - ApiKey: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Job retry initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  jobId:
                    type: string
        '404':
          description: Job not found

components:
  schemas:
    User:
      type: object
      properties:
        walletAddress:
          type: string
          description: Mina wallet address
          example: "B62qrPN5Y5yq8kGE3FbVKbGTdTAJNdtNtB5sNVpxyRwWGcDEhQMqbgy"
        createdAt:
          type: string
          format: date-time
          example: "2024-01-01T00:00:00Z"
        updatedAt:
          type: string
          format: date-time
          example: "2024-01-01T00:00:00Z"

    Challenge:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        title:
          type: string
          example: "Sunset Photography Challenge"
        description:
          type: string
          example: "Capture the most beautiful sunset"
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        participantCount:
          type: integer
          description: Number of unique participants
          example: 42
        chainCount:
          type: integer
          description: Number of chains (always 1 for MVP)
          example: 1
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Chain:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Default"
        challengeId:
          type: string
          format: uuid
        length:
          type: integer
          description: Number of images in chain
          example: 15
        createdAt:
          type: string
          format: date-time
        lastActivityAt:
          type: string
          format: date-time
          description: Last time a submission was added
        updatedAt:
          type: string
          format: date-time

    Submission:
      type: object
      properties:
        id:
          type: string
          format: uuid
        sha256Hash:
          type: string
          description: SHA-256 hash of the image
        walletAddress:
          type: string
          description: User's wallet address (public key in base58)
        tokenOwnerAddress:
          type: string
          description: Random address for token ownership
        signature:
          type: string
          description: Cryptographic signature in base58
        challengeId:
          type: string
          format: uuid
        chainId:
          type: string
          format: uuid
        storageKey:
          type: string
          description: MinIO storage key for the image
        tagline:
          type: string
          nullable: true
          description: User's tagline for the submission
          maxLength: 200
        chainPosition:
          type: integer
          description: Position in the chain (1-indexed)
          example: 5
        status:
          type: string
          enum: [uploading, uploaded, proving, publishing, verified, failed]
          description: Submission status
        transactionId:
          type: string
          nullable: true
          description: Mina blockchain transaction ID when verified
        failureReason:
          type: string
          nullable: true
          description: Error message if submission failed
        retryCount:
          type: integer
          description: Number of retry attempts
          example: 0
        challengeVerified:
          type: boolean
          description: Whether the submission has been verified for the challenge
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              example: "Invalid request"
            field:
              type: string
              nullable: true
              example: "walletAddress"
            statusCode:
              type: integer
              example: 400

  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Basic authentication for admin endpoints (username is 'admin')